@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
}
nav {
  padding: 24px 64px 20px 64px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-div {
  display: flex;
  flex: 1;
}
.logo-div a {
  display: flex;
  text-decoration: none;
}

.logo-div img {
  margin-right: 12px;
}
.logo-div p {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.all-navInfos {
  display: flex;
  flex: 2.4;
  justify-content: space-between;
  align-items: center;
}
.custom-icon {
  display: none;
  font-size: 27px;
}
.nav-links {
  padding: 10px;
}

.nav-links a {
  color: red;
  text-decoration: none;
  margin-right: 30px;
  color: var(--neutral-8, #959da3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-btns a:first-child button {
  padding: 12px 20px;

  margin-right: 10px;
  border-radius: 22px;
  border: 1px solid var(--neutral-5, #b9c3c9);
  margin-bottom: 5px;
}

.nav-btns a:nth-child(2) button {
  padding: 12px 20px;

  gap: 10px;
  border-radius: 22px;
  background: var(--Primary, #007acc);
  border: var(--Primary, #007acc);
  color: #e9edf0;
}

/* navCart Section */

.navCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px 16px 64px;
  background: var(--neutral-1, #f5f8fa);
}

.navCart-left {
  border-right: 1px solid #d4d4d4;
  padding-right: 80px;
  width: 10%;
}
.navCart-left button:first-child {
  padding: 12px 18px;
  margin-right: 8px;
  border-radius: 24px;
  background: var(--neutral-13, #242526);
  color: var(--Greyscale-1, #fafafa);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  border: var(--neutral-13, #242526);
}

.navCart-middle {
  width: 45%;
  display: flex;
  gap: 40px;
}

.navCart-middle a {
  color: var(--neutral-12, #313233);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-decoration: none;
}

.navCart-right {
  position: relative;
  display: flex;
  align-items: center;
}

.navCart-right input {
  padding: 12px 24px 12px 40px;
  border-radius: 24px;
  border: 1px solid var(--neutral-5, #b9c3c9);
  position: relative;
}
.placeholder-image {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-60%);
  z-index: 2;
  opacity: 0.5;
}

.navCart-right button {
  border-radius: 24px;
  padding: 9px;
  border: 1px solid var(--neutral-5, #b9c3c9);
  margin-left: 16px;
  cursor: pointer;
}

.cartNav-indicator {
  color: #ffffff;
  position: relative;
  left: 70%;
  bottom: 15px;
  background-color: red;
  text-align: center;
  border-radius: 50%; /* Set the borderRadius to 50% */
  padding: 5px;
  width: 25px; /* Adjust the width to your preference */
  height: 25px; /* Adjust the height to your preference */
  line-height: 15px; /* Set lineHeight to center the text vertically */
}
/* Home-id */
.home-id {
  display: flex;
  padding: 24px 64px;
  gap: 26px;
}

/* All products */

.All-products {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  gap: 25px;
}

.each-products {
  width: 320px;
  margin-bottom: 44px;
}
.each-products a {
  text-decoration: none;
}
.Illustration {
  border-radius: 12px;
  border: 1px solid var(--neutral-2, #e9edf0);
  background: var(--Greyscale-1, #fafafa);

  padding: 15px;
}

.Illustration {
  text-align: center;
  margin-bottom: 16px;
}
.like-btn {
  border-radius: 32px;
  border: 1px solid var(--neutral-3, #d5dee3);
  background: #fff;
  text-align: center;
  width: 15%;
  padding: 8.5px 5.2px 5px 5.55px;
  margin-left: 85%;
  cursor: pointer;
}
.like-btn img {
  width: 20px;
  height: 20px;
}

.tool-img {
  text-align: center;
  max-width: 100%;
}
.tool-img img {
  width: 100%;
}

.product-info {
  margin-left: 0;
  text-decoration: none;
}

.product-info h3 {
  color: var(--Primary, #007acc);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.product-info div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 16px;
}
.product-info div:first-child {
  color: var(--neutral-13, #242526);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-info div:nth-child(2) {
  color: var(--neutral-13, #242526);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-info button {
  padding: 11px 16px;
  border-radius: 32px;
  border: 1px solid var(--neutral-3, #d5dee3);
  color: var(--neutral-12, #313233);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08px;
  background-color: #fff;
}

/* Boxfilters */

.mobile-filterBtn {
  display: none;
}
.filter-rlt {
  display: flex;
  justify-content: space-between;
}

.filter-rlt a {
  color: var(--Primary, #007acc);

  font-size: 15.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.filter-rlt a:nth-child(2) {
  visibility: hidden;
}

.Boxfilters {
  flex: 1;
  border-radius: 16px;

  padding: 48px 20px 100px 20px;
  display: flex;
  flex-direction: column;

  overflow-y: overlay;
  height: 120vh;
}

.Boxfilters::-webkit-scrollbar {
  width: 5px;
  opacity: 1;
}
.Boxfilters::-webkit-scrollbar-track {
  border-radius: 10px;
}
.Boxfilters::-webkit-scrollbar-thumb {
  background-color: #b9c3c9;
  border-radius: 10px 30px 30px 10px;
}

.Boxfilters h1 {
  color: var(--neutral-11, #3e3f40);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.head-div {
  border-bottom: 0.5px solid #b9c3c9;
  margin-bottom: 40px;
}
.form-label h4 {
  color: var(--neutral-13, #242526);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Boxes {
  flex: 3;
  margin-top: 35px;
}
.single-box {
  height: auto;

  margin-bottom: 30px;

  padding-bottom: 20px;
}

.each-form {
  border-bottom: 0.5px solid #b9c3c9;
  padding-bottom: 25px;

  display: none;
}

.show-form {
  display: block;

  border-bottom: 0.5px solid #b9c3c9;
  padding-bottom: 25px;
}

.Boxes form {
  margin: 20px 0px;
}

.Boxes form label {
  display: block;
}
.Boxes .form-label {
  display: flex;
  justify-content: space-between;
}

form label input {
  margin-right: 12px;
}

form label {
  color: var(--neutral-11, #3e3f40);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.form-label span {
  color: var(--Primary, red);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.seeAll-span {
  color: var(--Primary, #007acc);
  display: flex;
  align-items: end;
  gap: 12px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* another page */
/* another page */
/* another page */
/* Product Details */
/* Product Details */
/* Product Details */

.product-detailsPg {
  padding: 0 40px;
}

.product-detailsPgflex {
  display: flex;

  gap: 40px;
  border: 1px solid var(--neutral-2, #e9edf0);
  border-radius: 20px;
  align-items: center;
  padding: 15px 10px;
}

.product-detailsPg-imgDiv {
  flex: 1.2;
}
.product-detailsPg-imgDiv img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 0px 0px 20px;
}

.product-detailsPg-info {
  flex: 1.5;
}

.product-detailsPg-info h2 {
  font-size: 44px;
  line-height: 54px;
  width: 50%;
  margin-bottom: 20px;
}
.product-detailsPg-info div p {
  margin-bottom: 10px;
}

.product-detailsPg-info div p:first-child span {
  color: #007acc;
}

.product-detailsPg-para {
  width: 55%;
  line-height: 18px;
  font-size: 12px;
}

.product-detailsPg-info div p:nth-child(3) {
  text-decoration: italic;
}
.product-detailsPg-info div p:nth-child(3) span {
  font-size: 22px;
  margin-left: -4px;
}
.product-detailsPg-delivery {
  display: flex;
  align-items: end;
}
.product-detailsPg-delivery p {
  font-size: 15px;
}

.product-detailsPg button {
  padding: 12px 20px;
  gap: 10px;
  border-radius: 5px;

  background: var(--Primary, #007acc);
  border: var(--Primary, #007acc);
  color: #e9edf0;
  margin-top: 15px;
  width: 160px;
}

/* 404 page */
/* 404 page */
/* 404 page */
.not-found-container {
  text-align: center;
}
.not-found-container h2 {
  margin-bottom: 1rem;
}

/* pgCart */
/* pgCart */
/* pgCart */

.pgCart {
  padding: 0 60px;
}
.each-pgCart {
  border: 1px solid var(--neutral-2, #e9edf0);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 14px;
}
.each-pgCart img {
  height: 200px;
  width: auto;
  border-radius: 20px;
}
.each-pgCart h1 {
  width: 30%;
  margin-left: 17px;
}
.each-pgCart div {
  width: 10%;
}
.each-pgCart div h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.each-pgCart div div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.each-pgCart p {
  width: 20%;
  font-size: 27px;
}

.each-pgCart span {
  width: 5%;
}

.pgCart-total {
  display: flex;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  padding: 20px 150px;
  justify-content: space-between;
  align-items: center;
}
.pgCart-total span {
  font-size: 30px;
}
.pgCart-checkout {
  text-align: center;
}
.pgCart-checkout button {
  width: 60%;
  border-radius: 22px;
  background: var(--Primary, #007acc);
  border: 0px solid black;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.MdOutlineDelete {
  width: 35px;
  cursor: pointer;
}
.FaChevron {
  width: 18px;
  cursor: pointer;
}

.MdOutlineDelete {
  font-size: 50px;
}
/* tablet screen sizes */
/* tablet screen sizes */
/* tablet screen sizes */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Your tablet-specific styles here */

  .navCart {
    padding: 16px 10px 16px 10px;
    justify-content: center;
    gap: 10px;
  }
  .navCart-left {
    width: 5%;
    padding-right: 75px;
  }

  .navCart-middle {
    width: 54%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }

  .navCart-middle a {
    color: var(--neutral-12, #313233);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    text-decoration: none;
  }

  .navCart-right button {
    border-radius: 24px;
    padding: 9px;
    border: 1px solid var(--neutral-5, #b9c3c9);
    margin-left: 5px;
    cursor: pointer;
  }

  /* Home */

  .home-id {
    display: block;
    padding: 24px 57px;
  }

  .Boxfilters {
    background-color: pink;
  }
  .Boxfilters {
    width: 100%;
    height: auto;
    max-height: 50vh;
    padding: 14px 5px 0px 14px;

    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
  }

  .mobile-filterBtn {
    display: block;
    cursor: pointer;
  }

  .Boxes {
    margin-top: 0;
  }
  .filter-rlt {
    position: sticky;
    bottom: 0;

    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
  }

  .filter-rlt a:nth-child(2) {
    visibility: visible;
    cursor: pointer;
  }

  .form-label h4 {
    font-size: 17.5px;
  }

  form label {
    font-size: 14.5px;
  }

  .filter-rlt a {
    font-size: 13.5px;
  }

  /* All products */

  .All-products {
    gap: 20px;

    justify-content: center;
  }

  /* another page */
  /* another page */
  /* another page */
  /* Product Details */
  /* Product Details */
  /* Product Details */

  .product-detailsPg {
    padding: 10px 40px;
  }

  .product-detailsPg-info h2 {
    width: 90%;
  }

  .product-detailsPg-para {
    width: 95%;
    line-height: 18px;
    font-size: 12px;
  }

  /* another page */
  /* PgCart */
  /* PgCart */
  /* PgCart */
  .pgCart {
    padding: 0 20px;
  }
  .each-pgCart {
    border: 1px solid var(--neutral-2, #e9edf0);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
  }

  .each-pgCart h1 {
    width: 25%;
    margin-left: 0px;
    font-size: 25px;
  }
  .each-pgCart img {
    height: 150px;
    width: auto;
    border-radius: 20px;
  }
  .each-pgCart div {
    width: 14%;
  }
  .each-pgCart div h3 {
    font-size: 20px;
  }
  .pgCart-checkout button {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden;
  }
  nav {
    padding: 20px;
  }
  .nav-container {
    display: block;
  }
  .custom-icon {
    display: block;
  }
  .logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .all-navInfos {
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    transition: 0.8s;
    left: 60%;
    padding: 4rem 1rem 20rem;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    align-items: start;
  }
  .james {
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    transition: 0.8s ease-in;
    background-color: hsl(36, 100%, 99%);
    height: 100vh;
    z-index: 10;

    padding: 4rem 1rem 20rem;
    justify-content: space-between;
    width: 80%;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links a {
    margin-bottom: 20px;
  }
  .black-after::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  .black-after {
    overflow-y: hidden;
  }

  /* navCart */

  .navCart {
    padding: 16px 9px 16px 9px;
    justify-content: center;
    gap: 5px;
  }
  .navCart-left {
    width: 5%;
    padding-right: 75px;
  }
  .navCart-left button:first-child {
    padding: 10px 16px;
    margin-right: 3px;
  }

  .navCart-middle {
    display: none;
  }
  .navCart-right input {
    padding: 11px 24px 11px 40px;
    border-radius: 24px;
    border: 1px solid var(--neutral-5, #b9c3c9);
    position: relative;
  }
  .navCart-right button {
    border-radius: 22px;
    padding: 9px;
    border: 0.5px solid var(--neutral-5, #b9c3c9);
    margin-left: 5px;
    cursor: pointer;
  }
  .navCart-right button img {
    width: 22px;
  }

  /* Home */

  .home-id {
    display: block;
    padding: 5px;
  }

  .Boxfilters {
    width: 100%;
    height: auto;
    max-height: 45vh;

    background-color: #fff;
    margin-bottom: 10px;
    padding: 13px 13px 13px 13px;
  }

  .Boxes {
    margin-top: 0px;
  }

  .form-label h4 {
    font-size: 16px;
  }

  form label {
    font-size: 13px;
  }

  .filter-rlt a {
    font-size: 12px;
  }
  .mobile-filterBtn {
    display: block;
    cursor: pointer;
  }

  .filter-rlt {
    position: sticky;
    bottom: 0;
  }

  .filter-rlt a:nth-child(2) {
    visibility: visible;
    cursor: pointer;
  }

  /* All products */

  .All-products {
    justify-content: space-between;
    gap: 0;
  }

  /* each products */

  .each-products {
    width: 47%;
    margin-bottom: 44px;
    height: auto;
  }

  .like-btn img {
    width: 12px;
    height: 12px;
  }

  .like-btn {
    border-radius: 100%;
    border: 0px solid var(--neutral-3, #d5dee3);
    background: var(--Greyscale-1, #fafafa);
    width: 25%;
    padding: 0px;
    margin-left: 78%;
    cursor: pointer;
    margin-bottom: 2px;
  }
  .Illustration {
    padding: 8px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
  }

  .tool-img img {
    width: 100%;
    max-height: 100%;
  }

  .product-info h3 {
    font-size: 12px;
  }

  .product-info div:nth-child(2) {
    color: var(--neutral-13, #242526);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
  }

  .product-info button {
    font-size: 10.5px;
    padding: 8px 13px;
  }

  /* another page */
  /* another page */
  /* another page */
  /* Product Details */
  /* Product Details */
  /* Product Details */

  .product-detailsPg {
    padding: 10px 10px;
  }

  .product-detailsPg-info h2 {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .product-detailsPg-info div p {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .product-detailsPg-para {
    width: 100%;
    line-height: 18px;
    font-size: 12px;
  }

  .product-detailsPgflex {
    flex-direction: column;
    gap: 5px;
  }

  /* another page */
  /* PgCart */
  /* PgCart */
  /* PgCart */
  .pgCart {
    padding: 0 10px;
  }
  .each-pgCart {
    border: 1px solid var(--neutral-2, #e9edf0);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 10px 0px;
    flex-wrap: wrap;
  }

  .each-pgCart img {
    height: 130px;
    width: auto;
    border-radius: 20px;
  }

  .each-pgCart h1 {
    width: 45%;
    margin-left: 0px;
    font-size: 20px;
  }
  .each-pgCart div {
    width: 30%;
  }

  .each-pgCart div h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .each-pgCart p {
    width: 20%;
    font-size: 18px;
  }

  .each-pgCart span {
    width: 5%;
  }
  .each-pgCart div {
    width: 30%;

    margin-left: 10px;
    text-align: left;
  }
  .each-pgCart div h3 {
    font-size: 13.5px;
  }

  .each-pgCart div div {
    width: 60%;
    align-items: center;

    margin-left: 0px;
  }

  .FaChevron {
    font-size: 13px;
    cursor: pointer;
  }
  .each-pgCart span {
    width: 15%;
  }
  .MdOutlineDelete {
    font-size: 25px;
  }
  .pgCart-checkout button {
    width: 80%;
  }

  .pgCart-total {
    padding: 20px 40px;
  }
  .pgCart-total h1 {
    font-size: 24px;
  }
  .pgCart-total span {
    font-size: 24px;
  }
}
